<h1>Detectar IP</h1>

<div class="container">
  <button (click)="actualizarIP()" class="btn btn-success">
    <i *ngIf="!cargando" class="bi bi-arrow-clockwise"></i>
    <i *ngIf="cargando" class="spinner-border spinner-border-sm"></i>
    {{textoBoton}}
  </button>
  <p *ngIf="direccionIP">{{direccionIP.ip}}</p>
  <hr/>
  <div *ngIf="direccionIP">
    <button (click)="actualizarLocalizacion()"  class="btn btn-primary">Geolocalización</button>
    <ul *ngIf="datosLocalizacion" class="list-group">
      <li class="list-group-item">País {{ datosLocalizacion.country }}</li>
      <li class="list-group-item">Ciudad {{ datosLocalizacion.city }}</li>
      <li class="list-group-item">Código Postal {{ datosLocalizacion.postal }}</li>
      <li class="list-group-item">Zona horaria {{ datosLocalizacion.timezone }}</li>
      <li class="list-group-item">Región {{ datosLocalizacion.region }}</li>
      <li class="list-group-item">Datos ISP {{ datosLocalizacion.hostname }}</li>
      <li class="list-group-item">Compañía {{ datosLocalizacion.org }}</li>
      <li class="list-group-item">Ubicación <a class="btn btn-link" target="_blank" [href]="'https://www.google.es/maps/place/' + this.datosLocalizacion.loc" >{{datosLocalizacion.loc}}</a></li>
    </ul>
  </div>
</div>
